@use "includes/base.sass"
@use "includes/colors.sass" as c
@use "sass:selector"
@use "includes/video-page.sass"
@use "includes/search-page.sass"
@use "includes/home-page.sass"
@use "includes/channel-page.sass"
@use "includes/subscriptions-page.sass"
@use "includes/settings-page.sass"
@use "includes/cant-think-page.sass"
@use "includes/privacy-page.sass"
@use "includes/js-licenses-page.sass"
@use "includes/forms.sass"
@use "includes/nav.sass"
@use "includes/footer.sass"

@font-face
  font-family: "Bariol"
  src: url(/static/fonts/bariol.woff?statichash=1)

.icon-link:hover, .icon-link:focus
  .icon
    filter: brightness(2)

.button-container
  display: flex
  flex-wrap: wrap
