doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" value="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href=getStaticURL("sass", "/main.sass"))
    script(type="module" src=getStaticURL("html", "/static/js/focus.js"))
    block head

  body.show-focus
    nav.main-nav
      a(href="/").link.home CloudTube
      form(method="get" action="/search").search-form
        input(type="text" placeholder="Search" name="q" autocomplete="off").search

    block content
