doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    - const theme = settings && ["dark", "light", "edgeless-light"][settings.theme] || "dark"
    link(rel="stylesheet" type="text/css" href=getStaticURL("sass", `/${theme}.sass`))
    script(type="module" src=getStaticURL("html", "/static/js/focus.js"))
    link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/static/images/favicon.ico")
    meta(name="apple-mobile-web-app-title" content="CloudTube")
    meta(name="application-name" content="CloudTube")
    meta(name="msapplication-TileColor" content="#2b5797")
    meta(name="msapplication-config" content="/browserconfig.xml")
    meta(name="theme-color" content="#36393f")
  
    block head

  body.show-focus
    - let showNav = true
    block pre-nav
    if showNav
      nav.main-nav
        .links
          if req && req.headers && "x-insecure" in req.headers
            a(href="/").link.home CloudTube - Insecure
          else
            a(href="/").link.home CloudTube
          a(href="/subscriptions" title="Subscriptions").link.icon-link
            != icons.get("subscriptions")
          a(href="/settings" title="Settings").link.icon-link
            != icons.get("settings")
        form(method="get" action="/search").search-form
          input(type="text" placeholder="Search" aria-label="Search a video" name="q" autocomplete="off" value=query).search

    div
      block content

    if showNav
      footer.footer__container
        div.footer__center
          p Released as AGPL free software.
          .footer__cols
            div
              h3.footer__colhead Source code
              ul.footer__list
                li: a(href="https://sr.ht/~cadence/tube") Project hub
                li: a(href="https://lists.sr.ht/~cadence/tube-announce") Announcements
                li: a(href="https://todo.sr.ht/~cadence/tube") Report a problem
            div
              h3.footer__colhead About
              ul.footer__list
                li: a(href="/privacy") Privacy policy
                li: a(href="/licenses" data-jslicense=1) Licenses
                if constants.takedown
                  li: a(href="/takedown") DMCA
