$bg-darkest: #202123
$bg-darker: #303336
$bg-dark: #36393f
$bg-accent: #4f5359
$bg-accent-x: #3f4247
$bg-accent-area: #44474b

$fg-bright: #fff
$fg-main: #ddd
$fg-dim: #bbb

$edge-grey: #808080

$link: #72b4f6

$power-deep: #c62727
