@use "colors.sass" as c

@mixin thin
  @media screen and (max-width: 499px)
    @content

@mixin wide
  @media screen and (min-width: 500px)
    @content

@mixin video-list-item
  display: grid
  grid-template-columns: 160px 1fr
  grid-gap: 8px
  align-items: start
  align-content: start
  margin-bottom: 12px

  @at-root .video-list-item--watched#{&}
    background: c.$bg-darker
    padding: 4px 4px 0px
    margin: -4px -4px 8px

    .thumbnail
      margin-bottom: 4px

    .image
      opacity: 0.4

  .thumbnail
    position: relative
    display: flex
    background: c.$bg-darkest

  .image
    width: 160px
    height: 90px

  .duration
    position: absolute
    bottom: 3px
    right: 3px
    color: c.$fg-bright
    font-size: 14px
    background: rgba(20, 20, 20, 0.85)
    line-height: 1
    padding: 3px 5px 4px
    border-radius: 4px

  .title
    font-size: 15px
    line-height: 1.2

  .title-link
    color: c.$fg-main
    text-decoration: none

  .author-line
    margin-top: 4px
    font-size: 15px
    color: c.$fg-dim

  .author
    color: c.$fg-dim
    text-decoration: none

    &:hover, &:active
      color: c.$fg-bright
      text-decoration: underline

@mixin recommendation-item
  @include video-list-item

@mixin large-item
  @include video-list-item

  .title
    font-size: 17px

  +wide
    grid-gap: 16px
    grid-template-columns: auto 1fr
    margin-bottom: 20px
    overflow: hidden
    max-height: 150px

    @at-root .video-list-item--watched#{&}
      padding: 8px 8px 0px
      margin: -8px -8px 12px

      .thumbnail
        margin-bottom: 8px

    .image
      width: 240px
      height: 135px

    .duration
      font-size: 17px
      padding: 4px 5px
      right: 5px
      bottom: 5px

    .title
      font-size: 24px

    .author-line
      font-size: 15px
      color: c.$fg-main

    .author
      color: c.$fg-main

    .description
      margin-top: 16px
      font-size: 15px
      color: c.$fg-dim

  +thin
    .description
      display: none

@mixin search-result
  @include large-item

  .description b
    font-weight: normal
    color: c.$fg-main

@mixin channel-video
  @include large-item

@mixin subscriptions-video
  @include large-item
