@use "colors.sass" as c
@use "video-list-item.sass" as *

.video-page
  display: grid
  grid-auto-flow: row
  padding: 20px
  grid-gap: 16px

  @media screen and (min-width: 1000px)
    grid-template-columns: 1fr 400px

.main-video-section
  .video-container
    text-align: center

    .video
      display: inline-block
      width: 100%
      height: auto
      max-height: 80vh

  .stream-notice
    background: c.$bg-darkest
    padding: 4px

  .info
    display: flex
    margin: 8px 4px 16px
    font-size: 17px

    @media screen and (max-width: 499px)
      display: block

    .info-main
      flex: 1

      .title
        margin: 0px 0px 4px
        font-size: 30px
        font-weight: normal
        color: c.$fg-bright
        word-break: break-word

      .author-link
        color: c.$fg-main
        text-decoration: none

        &:hover, &:active
          color: c.$fg-bright
          text-decoration: underline

    .info-secondary
      display: flex
      flex-direction: column
      align-items: flex-end
      text-align: right
      margin-top: 6px
      margin-left: 6px

      @media screen and (max-width: 499px)
        align-items: flex-start
        margin-left: 0px

    .rating-bar
      margin-top: 8px
      width: 140px
      height: 8px
      border-radius: 3px
      background: linear-gradient(to right, #1a1 var(--rating), #bbb var(--rating))

  .continuous
    display: flex
    align-items: center
    justify-content: space-between
    margin: 16px 4px
    padding: 12px
    border-radius: 4px
    background-color: c.$bg-darkest

    &__description
      margin-left: 12px

    &__title
      font-size: 20px

    &__script-warning
      font-size: 15px
      color: c.$fg-warning

    &__buttons
      display: flex
      flex-shrink: 0

  .description
    font-size: 17px
    word-break: break-word
    margin: 16px 4px 4px 4px
    background-color: c.$bg-accent-area
    padding: 12px
    border-radius: 4px

.subscribe-form
  display: inline-block

.related-cols
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 8px

.continuous-start
  font-size: 15px

.related-header
  margin: 4px 0px 4px 2px
  font-weight: normal
  font-size: 26px

.related-video
  @include video-list-item
  word-break: break-word

.video-error-page
  padding: 40px 20px 20px
  margin: 0 auto
  max-width: 600px
  line-height: 1.4

.blocked-explanation
  text-align: center
  margin-bottom: 32px

  @media screen and (max-width: 600px)
    display: none

  img
    width: 552px
    height: 96px

  .rows
    display: grid
    grid-template-columns: 22% 20% 20% 20%
    grid-gap: 4%
    justify-content: center

    .row
      margin: 0

      .actor
        margin: 4px 0px 10px
