extends includes/layout

include includes/video-list-item
include includes/subscribe-button

block head
  title Fetching... - CloudTube
  script(type="module" src=getStaticURL("html", "/static/js/local-video.js"))
  script const id = !{JSON.stringify(id)}

block content
  main.video-error-page
    h2 Fetching video
    p (You can also #[a(href=`https://www.youtube.com/watch?v=${id}#cloudtube`) watch on YouTube], #[a(href="https://git.sr.ht/~cadence/tube-docs/tree/main/item/docs/newleaf/Installing%20NewLeaf.md") install NewLeaf], or just #[a(href="/settings") turn off local fetch.])
    p#status.fetch-status Waiting...
    form(method="post")#form.local-video-form
      input(type="hidden" name="video")#video-data
