p The selected instance, #[code= instanceOrigin], was unreachable.
details
  summary If the instance is on a private network
  p The instance URL was resolved by the server. If the instance is on a private network, CloudTube will not be able to connect back to it.
  p To get around this error, you may be able to use local mode, or you can run your own CloudTube within the network.
